@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <br />
    <div class="col-md-4">
      
        <p>
            Haz click en el menu para ver los mensajes
        </p>
   </div>
    
  
</div>